.span9.with-sidebar
  - url =  "/admin/articles/save_detail"
  .container
    = form_for @detail ,:url => url  ,:html=>{:class=>"new_user_form inline-input"} do |f|
      = hidden_field_tag :id , @detail.id
      .span12.field-box
        = f.label :region_id , t("admin.articles.region_id")    
        = f.select :region_id , options_for_select(@regions,@detail.region.nil? ? 1 : @detail.region.id) ,{} ,:class=>"span9" , :required=>true
      .span12.field-box
        = f.label :bank_id , t("admin.articles.bank_id")    
        = f.select :bank_id , options_for_select(@banks,@detail.bank.nil? ? 1 : @detail.bank.id) ,{} ,:class=>"span9" , :required=>true
      .span12.field-box
        = f.label :payment_number , t("admin.articles.payment_number")    
        = f.text_field :payment_number , :class=>"span9" , :required=>true
      .span12.field-box
        = f.label :name_ru , t("admin.articles.name_ru")    
        = f.text_field :name_ru , :class=>"span9" , :required=>true
      .span12.field-box
        = f.label :name_ua , t("admin.articles.name_ua")    
        = f.text_field :name_ua , :class=>"span9" , :required=>true
      .span12.field-box
        = f.label :budget_code , t("admin.articles.budget_code")    
        = f.select :budget_code , options_for_select(@budget_codes,@detail.budget_code) ,{} ,:class=>"span9" , :required=>true
      .span12.field-box
        = f.label :budget_code_name , t("admin.articles.budget_code_name")    
        = f.select :budget_code_name , options_for_select(@budget_code_names,@detail.budget_code_name) ,{} ,:class=>"span9" , :required=>true
      .span12.field-box
        = f.label :edrpo , t("admin.articles.edrpo")    
        = f.text_field :edrpo , :class=>"span9" , :required=>true 
      .span11.field-box.actions
        = f.submit t("admin.articles.save"), :class=>"btn-glow primary"