.modal
  .modal-header
    %h3=t("admin.articles.region_modal")
  .modal-body
    = form_for @item , :methid=>:post,:url => "/admin/articles/save_item"  do |f|
      = hidden_field_tag :save_type , :Region
      = hidden_field_tag :id , @item.id
      = f.label :name_ru , t("admin.articles.name_ru")    
      = f.text_field :name_ru ,:class=>"" ,:required=>true
      = f.label :name_ua , t("admin.articles.name_ua")    
      = f.text_field :name_ua ,:class=>"" ,:required=>true
  .modal-footer
    %a.btn-flat.danger{:onclick=>"$.publish('close_modal')",:href=>"#"}=t("admin.articles.cancel")
    %a.btn-flat.success{:onclick=>"$.publish('submit_data',$(this))",:href=>"#"}=t("admin.articles.save")
