=render "cabinet/cabinet_header"
.clear  
.messages_list
  .header_actions
    %a{:href=>cabinet_messages_path}
      = t("front_all.inbox")
      - if @active == "inbox"
        %em.blu_rec
    %a{:href=>cabinet_messages_outbox_path}
      = t("front_all.outbox")
      - if @active == "outbox"
        %em.blu_rec
    %a
      = t("front_all.message")
      - if @active == "new"
        %em.blu_rec
  .messages{:"data-auto-controller"=>"Message"}
    - if @messages.count < 1
      %h1= t("front_all.no_outbox_messages")
    - else
      %ul.lll
        - @messages.each do |message|
          %li{:class=>(message.message_read? ? "not_read" : "")}
            .rew
              = image_tag message.recipient.file ,:class=>"img-circle"
              %p
                %i=message.recipient.name
                = truncate(message.body, length: 30, omission: '...') 
                .buttons{:"data-id"=>message.id,:"data-action"=>"delete_my"}
                  = link_to t("front_all.read_it") , cabinet_message_path(message),:class=>"grey read_it"
                  = link_to t("front_all.delete_it") , "#",:class=>"pay delete_it"
                %small=l(message.created_at,:format=>:short)
  =baners_block