=render "cabinet/cabinet_header"
.clear	
.messages_list{:"data-auto-controller"=>"Message"}
  .header_actions
    %a{:href=>cabinet_messages_path}
      = t("front_all.inbox")
      - if @active == "inbox"
        %em.blu_rec
    %a{:href=>cabinet_messages_outbox_path}
      = t("front_all.outbox")
      - if @active == "outbox"
        %em.blu_rec
    %a
      = t("front_all.message")
      - if @active == "new"
        %em.blu_rec
  .messages      
    .contact_user
      .text_area
        %ul
          %li.book_image
            = image_tag( @message.recipient.file(:medium),:size=>"100x100")
          %li
            %span=@message.recipient.name
          %li
            = text_area_tag :body ,@message.body,:disabled=>:disabled
  .book_block
    .block_info=t("front_all.payment_desc")
  =baners_block