%footer
  %ul.left
    %li
      %a{href: "#"}= t("front_all.faq_links.company") 
    %li
      %a{href: "#"}= t("front_all.faq_links.faq") 
    %li
      %a{href: "#"}= t("front_all.faq_links.contacts")
  %ul.nav
    %li
      %a{href: "#"}
        = image_tag "ic_facebook.png"
    %li
      %a{href: "#"}
        = image_tag "ic_twitter.png"
    %li
      %a{href: "#"}
        = image_tag "ic_google.png"