.header_right
  %ul
    %li
      %a.lang{:href=>"#"}
        = I18n.locale.upcase
        = render "shared/list/locale"
    %li
      %a.cur{:href=>"#"}
        = $currency.upcase
      = render "shared/list/currency"
    %li
      %a{:href=>(logged_in? ? "/user" : "/login"), :class=>(logged_in? ? "user" : "login")}
        =logged_in? ? current_user.fio : t("user.enter").mb_chars.upcase
        - if logged_in?
          = image_tag current_user.file(:cabinet) ,:size=>"20x20"
        - else
          - if params[:action] =~ /login/
            %em.rectangle_v

  #header_user_menu
    #um_pointer
    #um_wrap
      %a.dashboard_ico{:href=>cabinet_houses_path}=t("front_all.dashboard")
      %a.y_offers_ico{:href=>cabinet_offers_path}=t("front_all.offers")
      %a.profile_ico{:href=>"/cabinet/profile/show"}=t("front_all.profile")
      %a.messages_ico{:href=>cabinet_messages_path}=t("front_all.messages")
      %a.wishlist_ico{:href=>cabinet_whishes_path}=t("front_all.my_wish")
      %a.logout{:href=>"/logout",:style=>"background: none!important;"}=t("front_all.logout")