        <div class="popup rrrr" id="login_window" >
            <div class="p_body">
                <div class="register" data-auto-controller="Registr">
                    <h2><%=t("all.popup.register_title")%></h2>
                    <%=form_for @user,:url=>"/register" do |f|%>
                    <table>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label><%=t("all.user.first_name")%></label>
                                    </li>
                                    <li>
                                        <%=f.text_field :first_name,required:true,placeholder:"vasya",autocomplete:"off",class:"only_chars"%>
                                    </li>
                                </ul>
                                
                                
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.last_name")%></label>
                                    </li>
                                    <li>
                                        <%=f.text_field :last_name,required:true,placeholder:"vasya",autocomplete:"off",class:"only_chars"%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.email")%></label>
                                    </li>
                                    <li>
                                        <%=f.email_field :email,required:true,placeholder:"someone@example.com",autocomplete:"off"%>
                                    </li>
                                </ul>
                                
                                
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.phone")%></label>
                                    </li>
                                    <li class="phone">
                                        <%=f.select :phone_code,@codes,:selected=>@current_code,required:true,placeholder:"093779996"%>
                                        <%=f.text_field :phone,required:true,placeholder:"093779996",autocomplete:"off",class:"only_numbers",:"maxlength"=>10%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.password")%></label>
                                    </li>
                                    <li>
                                        <%=f.password_field :password,required:true,placeholder:"******",autocomplete:"off"%>
                                    </li>
                                </ul>
                                
                                
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.password_confirm")%></label>
                                    </li>
                                    <li>
                                        <%=f.password_field :password_confirm,required:true,placeholder:"******",autocomplete:"off"%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tr>
                        <tr>
                             <%= show_simple_captcha%>
                        </tr>
                        <tr>
                            <td  class="float" >
                                <label  for="agrement" class=""><%=t("all.popup.i_agree")%></label>   
                                <%=check_box_tag :agrement%>       
                            </td>
                            <td>

                                
                            </td>
                        </tr>
                    </table>
                    <div class="bottom">
                        <a href="#"><%=t("all.popup.do_reg")%></a>
                        <span class="right_square"></span>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="popup" id="login_window" >
            <div class="p_body">

                <div class="login" data-auto-controller="Login">
                    <h2><%=t("all.popup.login_title")%></h2>
                    <%=form_for @user,:url=>"/login" do |f|%>
                    <table>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.email")%></label>
                                    </li>
                                    <li>
                                         <%=f.email_field :email,required:true,placeholder:"someone@example.com",autocomplete:"off"%>
                                    </li>
                                </ul>             
                            </td>
                        </tr>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.password")%></label>
                                    </li>
                                    <li>
                                         <%=f.password_field :password,required:true,placeholder:"******",autocomplete:"off"%>
                                    </li>
                                </ul>   
                            </td>  
                        </tr>
                        <tr>
                            <td class="float">
                                <label  for="agrement" class=""><%=t("all.popup.remember")%></label>
                                <%=check_box_tag :remember%>
                                <a class="forgot_pass" href="#"><%=t("all.popup.forgot")%></a>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p class="soc"><%=t("all.popup.social_enter")%></p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <%=image_tag "fb.png"%>
                            </td>

                        </tr>
                    </table>
                    <div class="bottom">
                        <a href="#"><%=t("all.popup.do_enter")%></a>
                        <span class="right_square"></span>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="popup" id="restore" data-auto-controller="Restore">
            <div class="p_body">
                <div class="register">
                    <h2><%=t("all.popup.restore_title")%></h2>
                    <%=form_for @restore,:url=>"/restore" do |f|%>
                        <ul class="email">
                            <li>
                                <label for=""><%=t("all.user.email")%></label>
                            </li>
                            <li>
                                 <%=f.email_field :email,required:true,placeholder:"someone@example.com",autocomplete:"off"%>
                            </li>
                        </ul>
                        <table>
                            <tr>
                               <%= show_simple_captcha %>
                            </tr>
                        </table>
                    <%end%>
                    <div class="bottom">
                        <a href="#"><%=t("all.popup.send")%></a>
                        <span class="right_square"></span>
                    </div>
                </div>
            </div>
        </div>