= form_tag AdminSettings.find_by_setting(:shop_link).value ,:class=> "payment_form" , :method=>"post" do -
  = hidden_field_tag :payment_system , 1
  = hidden_field_tag :success_url ,    "http://#{request.host}/payment_success"
  = hidden_field_tag :failure_url ,    "http://#{request.host}/user/penalties/#{@penalty.id}"
  = hidden_field_tag :payer_info ,     @penalty.user.fio
  = hidden_field_tag :custom_field ,   @penalty.id
  = hidden_field_tag :api_key ,        @api_key
  = hidden_field_tag :order_id ,       @penalty.id
  = hidden_field_tag :order_currency , "UAH"
  = hidden_field_tag :order_value ,    @penalty.total_cost
  = hidden_field_tag :product_name ,   @desc
  = hidden_field_tag :order_hash ,     @sign

  