= book_steps(t("front_all.steps").values,0)
.content_box
  = form_for @penalty , :url=>details_path , :html=>{:class=>"jNice",:"data-auto-controller"=>"HomeFormController"} do |f|
    .content_row.row1
      .lable=t("admin.articles.region_id")
      = select_tag :region_id , options_for_select(@regions),{:required=>true}
      .clr
    .content_row.row2
      .lable=t("front_all.kazna")
      = f.select :payment_detail_id , options_for_select([]) ,{:required => true}
    = f.submit t("front_all.next") ,:class=>"btn"