#apartments
  %em.rectangle
  = form_for @apartments_search ,:url => "apartments" ,:html => {:"data-auto-controller" => "ApartmentsController",:class=>"submit"} do |f|
    .form_line
      .b_form_text.icon_search
        = f.text_field :city ,:class=>"form-text", :required=>true,:placeholder=>"- Secelt city -"
        = f.hidden_field :city_id,  :required=>true
    .dates
      %ul
        %li
          %ul
            %li
              .b_form_text.icon_date
                = f.text_field :arrival ,:class=>"form-text", :required=>true,:placeholder=>"- from -"
            %li
              .b_form_text.icon_date
                = f.text_field :departure ,:class=>"form-text", :required=>true,:placeholder=>"- to -"
        %li
          %ul
            %li.jNice
              .b_form_text.icon_guests
                = f.select :people_count , 6.times.map{|i| [pluralize((i+1),'guest'),(i+1)]}, :class=>"form-select"
 
            %li
              %a.search_btn{href: "#"}
                %span search
    %a.adv_but{href: "#"}
    .advanced
      %ul
        %li
          %ul
            %li
              .b_form_text.icon_money
                = f.text_field :price_from ,:class=>"form-text" ,:placeholder=>"- 10 -"
            %li
              .b_form_text.icon_money
                = f.text_field :price_to ,:class=>"form-text" ,:placeholder=>"- 1000 -"
      - if @apartments_search.facilities.count > 0
        .facifitiles
          %ul
            - @apartments_search.facilities.each do |facility|
              = f.fields_for :facilities , facility do |ff|
                %li.jNice
                  = image_tag "#{facility.ico}"
                  %span.text=facility.name
                  = ff.check_box :active ,:value=>1, :checked=>false
                  = ff.hidden_field :id
        .clear