.span9.with-sidebar
  - url =  params[:action] =~ /new/ ? admin_facilities_path : admin_facility_path(@facility)
  .container
    = form_for @facility ,:url => url  ,:html=>{:class=>"new_user_form inline-input"} do |f|
      = f.hidden_field :id
      .span12.field-box
        = f.label :active , t("admin.facilities.active")    
        = f.select :active , options_for_select([[t("admin.facilities.active_1"),1],[t("admin.facilities.active_0"),0]],@facility.active) ,{} ,:class=>"span9" , :required=>true
      .span12.field-box
        = f.label :name_ru , "#{t("admin.facilities.name")} [ru]"   
        = f.text_field :name_ru , :class=>"span9" , :required=>true
      .span12.field-box
        = f.label :name_uk , "#{t("admin.facilities.name")} [uk]"   
        = f.text_field :name_uk , :class=>"span9" , :required=>true
      .span12.field-box
        = f.label :name_en , "#{t("admin.facilities.name")} [en]"   
        = f.text_field :name_en , :class=>"span9" , :required=>true

      .span12.field-box
        = f.label :seo , "SEO"   
        = f.text_field :seo , :class=>"span9" , :required=>true
      
      
      .span11.field-box.actions
        = f.submit t("admin.facilities.#{params[:action]}"), :class=>"btn-glow primary"