=render "cabinet/cabinet_header"
.clear	
#cabinet
	.clear
	.bookings_list.offers_list
		- @offers.each do |b|
			%div.item
				%div{:class=>"item_status edit_ico"}
				%img{:src => "#{b.first_img}",:style=>"width:300px"}
				.item_info
					.item_petriod
						%br
						="#{b.full_address}"
					.clear
				.filters_select
					.um_pointer
					.um_wrap
						%a{:href=>"#{edit_cabinet_offer_path(b)}?step=address", :class=>"by_ico_edit standart_link"} #{t("cabinet.edit")}
						= link_to t("cabinet.remove"), cabinet_offer_path(b), :class => 'by_ico_delete standart_link', :method => :delete

	=render "cabinet/cabinet_orange_services"