#tabs-wrapper
  .row-fluid
    %a.span2.tab{:href=>"/admin/emails"}
      = t("admin.emails.list")
    %a.span2.tab.active{:href=>"#"}
      = t("admin.emails.edit_template")
#pad-wrapper.new-user{:"data-auto-controller"=>"AdminEmailController",:"data-locale"=>I18n.locale}
  .row-fluid.header
    %h3 Создание категории
    .span9.with-sidebar
      .container
        = form_for @category ,:url => admin_category_path(@category) ,:html=>{:class=>"new_user_form inline-input"} do |f|
          = f.text_field :name ,:placeholder=>"Название"
          Категория родитель
          = f.select :parent_id ,options_for_select(Category.all.map{|c| [c.name,c.id]})
          .span11.field-box.actions
            = f.submit t("admin.users.#{params[:action]}"), :class=>"btn-glow primary"