                        <li class="car_item">
                            <ul class="item_elms">
                                <li class="desc">
                                    <div class="lft"><img src="<%= car[:car_info][:LargeImageURL]%>" width="150" height="100"/></div>
                                    <div class="rt">
                                        <h3><%= car[:car_info][:Name]%><span class="analog"> <%=t("all.cars.analog")%></span></h3>
                                        <p class="car_cls"><%=t("all.cars.class")%>: <span><%=t("all.cars.classes.#{car_class_convert(car[:car_info][:group])}")%></span></p>
                                        <ul class="car_options">
                                            <li>- <%=t("all.cars.korobka",:type=>t("all.cars.korobka_type.#{car[:car_info][:automatic][0..0]}"))%></li>
                                            <li>- <%=t("all.cars.free_cancel",:type=>t("all.cars.free_Ñancellation._#{car[:car_info][:freeCancellation].to_s}"))%></li>
                                            
                                        </ul>
                                        <span><%= truncate(car[:car_info][:Description], length:150, separator: ' ',omission: '...') %></span>
                                    </div>
                                    
                                </li>
                                <li class="amount">
                                    <ul>
                                        <li class="plc_count">
                                            <p><%=t("all.cars.plc_count")%></p>
                                            <span><%=image_tag "icons/cars_icon_01.png"%></span>
                                            <span><%=car[:car_info][:seats]%></span>
                                            <span><%=image_tag "icons/cars_icon_02.png"%></span>
                                            <span><%=car[:car_info][:seats]%></span>

                                        </li>
                                        <li class="price">
                                            <span><%="#{(Exchange.convert(car[:price]["baseCurrency"], $currency) * car[:price]["basePrice"].to_f).to_i} #{t("all.currencies_symbols.#{$currency}")}"%></span>
                                            <p><%=t("search.hotels.all_period")%></p></li>
                                    </ul>
                                </li>
                                <li class="pay_btn">
                                    <a target="_blank" href="<%="#{cars_show_path}/#{car[:car_info][:id]}?session_id=#{@session_id}"%>"><%=t("all.choose")%><span>></span></a>
                                </li>
                            </ul>
                        </li>