        <%=book_steps(t("all.cars.book_steps"),2)%>
        <%=form_for @pay ,:url=>"/#{I18n.locale}/cars/book/#{@car[:car_info][:id]}", :html=>{"data-auto-controller"=>"CarBooking","data-url"=>"#{cabinet_auto_index_path}/"} do |f|%>
            <%= f.hidden_field :session_id , :value=> @session_id%>
            <div id="main_content">
                <div id="main" >
                    <div id="main_wrap">
                        <div class="header">
                            <h2><%=t("all.your_choise")%>: </h2>
                            
                            <div class="final_price">
                                <h2 class="price_desc"><%=t("all.total_price")%>: </h2>
                                <%="#{(Exchange.convert(@car[:price]["baseCurrency"], $currency) * @booking.car_price.to_f).to_i}"%>
                                <span class="currency"> <%=t("all.currencies_symbols.#{$currency}")%></span>
                            </div>
                        </div>
                        <ul class="result_list booking">
                            <li  class="open_item">
                                <ul>
                                    <li class="car_item">
                                        <ul class="item_elms">
                                            <li class="desc">
                                                <div class="lft"><img src="<%= @car[:car_info][:LargeImageURL]%>" width="150" height="100"/></div>
                                                <div class="rt">
                                                    <h3><%= @car[:car_info][:Name]%><span class="analog"> <%=t("all.cars.analog")%></span></h3>
                                                    <p class="car_cls"><%=t("all.cars.class")%>: <span><%=t("all.cars.classes.#{car_class_convert(@car[:car_info][:group])}")%></span></p>
                                                    <ul class="car_options">
                                                        <li>- <%=t("all.cars.korobka",:type=>t("all.cars.korobka_type.#{@car[:car_info][:automatic][0..0]}"))%></li>
                                                        <li>- <%=t("all.cars.free_cancel",:type=>t("all.cars.free_Ñancellation._#{@car[:car_info][:freeCancellation].to_s}"))%></li>
                                                        
                                                    </ul>
                                                    <span><%= truncate(@car[:car_info][:Description], length:150, separator: ' ',omission: '...') %></span>
                                                </div>
                                                
                                            </li>
                                            <li class="amount">
                                                <ul>
                                                    <li class="plc_count">
                                                        <p><%=t("all.cars.plc_count")%></p>
                                                        <span><%=image_tag "icons/cars_icon_01.png"%></span>
                                                        <span><%=@car[:car_info][:seats]%></span>
                                                        <span><%=image_tag "icons/cars_icon_02.png"%></span>
                                                        <span><%=@car[:car_info][:seats]%></span>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                            <li class="open_item">
                                <%if false && @booking.extras.map{|g| g.count < 1 ? nil : true}.compact.size > 0%>
                                <h2><%=t("all.cars.add_options")%>:</h2>
                                <table class="options_list">
                                    <%@booking.extras.each do |extr| next if extr.count < 1%>
                                            <tr>
                                                <td>
                                                    <%=check_box_tag :count,1,true, disabled: true %>
                                                </td>
                                                <td width="280">
                                                    <%=extr.name%>
                                                </td>
                                                <td class="opt_price">
                                                </td>
                                            </tr>
                                    <%end%>
                                </table>
                                <%end%>
                                <table>
                                    <tr>
                                        <td>

                                            <div class="card_block">
                                        <div class="card_data">
                                            <div class="card_num">
                                                <label><%=t("all.card_num")%></label>
                                                <%4.times do |t|%>
                                                    <%= f.text_field "n_#{t}".to_sym , :autocomplete=>"off" , :class=>"txtinput" ,:required=>true%>
                                                <%end%>
                                            </div>
                                            <div class="card_owner">
                                                <label><%=t("all.card_owner")%></label>
                                                <%= f.text_field :card_holder , :autocomplete=>"off" , :class=>"txtinput only_latin_with_space" ,:required=>true%>
                                            </div>
                                            <div class="card_date">
                                                <label><%=t("all.card_date")%></label>
                                                <%= f.text_field :expiration_date , :autocomplete=>"off" , :class=>"txtinput" ,:required=>true%>
                                            </div>
                                            <div class="card_cvv">
                                                <label><%=t("all.card_cvv")%></label>
                                                <%= f.text_field :ccv , :autocomplete=>"off" , :class=>"txtinput" ,:required=>true%>
                                            </div>
                                        </div>
                                        
                                        <div class="pci_block">
                                            <div class="card_type_sel">
                                                <%= f.select :card_type , options_for_select(@p_meth) , {} ,:class => "form_pay",:required=>true %>
                                            </div>
                                            <%=t("all.pci_desc")%>
                                        </div>
                                    </div>

                                        </td>
                                    </tr>
                                </table>
                            </li>
                            <li class="open_item">
                                    <table class="buttom">
                                        <tr>
                                            <td class="pay_btn fanc">
                                                <a href="/cars/rules?id=<%=@car[:route]["PickUp"]["Location"]["id"]%>"><%=t("all.cars.rental_terms")%><span>!</span></a>
                                            </td>
                                            <td class="pay_btn to_pay">
                                                <a class="send_request <%=logged_in? ? "" : "login"%>" href="#"><%=t("all.pay")%><span>></span></a>
                                            </td>
                                        </tr>
                                    </table>
                            </li>
                        </ul>
                        
                        <div class="clear"></div>
                    </div>
                        <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        <%end%>