<%=book_steps(t("all.cars.book_steps"),0)%>
        <div id="main_content">
            <div id="main" >
                <div id="main_wrap">
                    <div class="header">
                        <h2><%=t("all.search_result")%>: <span><%=@search.to_title%></span> </h2>
                        <div class="sorting">
                            
<!--                             <ul>
                                <li style="margin-right: 10px;"><%=t("all.sort_by")%> </li>
                                <li><a href="#"><%=t("all.cars.s_price")%></a></li>

                            </ul> -->
                        </div>
                    </div>
                    <ul class="result_list">
                        <%@results.each do |car|%>
                            <%= render partial:"cars/result_item",:locals=>{:car=>car}%>
                        <%end%>
                    </ul>
                    
                    <div class="clear"></div>
                </div>
                    <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>