#tabs-wrapper
  .row-fluid
    %a.span2.tab{:href=>"/admin/characteristics"}
      = t("admin.characteristics.list")
    %a.span2.tab{:href=>"/admin/characteristics/new"}
      = t("admin.characteristics.add_new")
    %a.span2.tab.active{:href=>"#"}
      = t("admin.characteristics.add_edit")
#pad-wrapper.new-user
  .row-fluid.header
    %h3= t("admin.characteristics.add_edit")
  .row-fluid.form-wrapper
    = render 'characteristic_form'



