.span3.form-sidebar.pull-right
  %h6=t("admin.users.pass_change")
  .alert.alert-info.hidden-tablet
    %i.icon-lightbulb.pull-left
    = t("admin.users.pass_info")
  = form_tag "/admin/users/pass_change", :method=>:post do 
    .span11.field-box
      = submit_tag t("admin.users.generate_pass") ,:class=>"btn-flat success"
      = hidden_field_tag :id ,@user.id
  = form_tag "/admin/users/pass_change", :method=>:post do 
    .span11.field-box
      = text_field_tag :password ,nil, :class=>"span12" , :required=>true  , :placeholder=>"Password"
      = hidden_field_tag :id ,@user.id
    .span11.field-box
      = submit_tag t("admin.users.change_pass") ,:class=>"btn-flat success"
