#tabs-wrapper
  .row-fluid
    %a.span2.tab{:href=>"/admin/facilities"}
      = t("admin.facilities.list")
    %a.span2.tab.active{:href=>"/admin/facilities/new"}
      = t("admin.facilities.add_new")
    %a.span2.tab{:href=>"#"}
      = t("admin.facilities.add_edit")
#pad-wrapper.new-user
  .row-fluid.header
    %h3= t("admin.facilities.add_new")
  .row-fluid.form-wrapper
    = render 'facility_form'


