%ul.form_list
  - k = 1
  - @count.in_groups_of(2) do |item|
    %li{:style => "margin-top: 10px;z-index: #{(9 - k)}"}
      - k+1
      - item.each do |e|
        - unless e.nil?
          %ul.triple
            %li.jNice
              .icon_guests.b_form_text
                = select(nil,nil,options_for_select([["ВЗРОСЛЫЕ",0]] + (1..4).to_a) ,{} ,{:name => "hotels_search[rooms_attributes][#{e}][adults]"})
            %li.jNice.last
              .icon_guests.b_form_text
                = select(nil,nil,options_for_select([["ДЕТИ",0]] + (1..4).to_a) ,{},{:name => "hotels_search[rooms_attributes][#{e}][childs]"} )
      .clear
        
