#orange_nav.edit_nav
	%a{:href=>"", :class=>""} #{t("cabinet.photos")}
	%a{:href=>"", :class=>""} #{t("cabinet.details")}
	%a{:href=>"#", :class=>""} #{t("cabinet.calendar_n_price")}
	%a{:href=>"", :class=>""} #{t("cabinet.facilities")}
	%a{:href=>"#", :class=>"act"} #{t("cabinet.address")}
	.clear