#orange_nav.edit_nav
	- @steps.reverse.each do |s|
		%a{:href=>"#{@link_base}/edit?step=#{s}", :class=>"#{@step == s ? 'act' : ''} #{@link_base.present? ? '' : 'disabled_link'}"} #{t("cabinet.#{s}")}
	.clear