=render "shared/search_and_services_icons"
.clear	
#cabinet
	=render "header"
	.clear
	.bookings_list
		- @bookings.each do |b|
			%a.item
				%img{:src => "#{b.first_img}"}
				%div{:class=>"item_status status_ico_#{b.status}"}
				.item_info
					.item_petriod
						%b="#{b.from} - #{b.to}"
						%br
						="#{b.address}"
					.item_price
						%b="#{b.show_total_cost}#{@currency.symbol}"
						%br
						Total cost
					.clear
		.clear