=render "shared/search_and_services_icons"
.clear	
#cabinet
	=render "cabinet/cabinet_header"
	.clear
	.bookings_list.offers_list
		- @offers.each do |b|
			%a.item
				%div{:class=>"item_status edit_ico"}
				%img{:src => "#{b.first_img}"}
				.item_info
					.item_petriod
						%br
						="#{b.full_address}"
					.clear
				.filters_select
					.um_pointer
					.um_wrap
						%b{:href=>"#", :class=>"by_ico_edit"} #{t("cabinet.edit")}
						%b{:href=>"#", :class=>"by_ico_delete"} #{t("cabinet.remove")}
		%a.item.add_offer{:href=>"/cabinet/#{@service}/new", :title => t("cabinet.add")}
		.clear
	=render "cabinet/cabinet_orange_services"