        <%=form_for @user ,:url=>"/#{I18n.locale}/cabinet/profile/save", :html=>{"data-auto-controller"=>"Cabinet"} do |f|%>
        <div id="main_content">
            <div id="main" >
                <div id="main_wrap">
                    <%=render "cabinet/left_menu"%>
                <div class="right column">
                    <div class="text_content" style="padding-bottom: 50PX;">
                        <h1><%=t("all.user.my_data")%></h1>
                        <div class="text_body">
                    <table>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label><%=t("all.user.first_name")%></label>
                                    </li>
                                    <li>
                                        <%=f.text_field :first_name,required:true,placeholder:"vasya",autocomplete:"off",class:"only_chars"%>
                                    </li>
                                </ul>
                                
                                
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.last_name")%></label>
                                    </li>
                                    <li>
                                        <%=f.text_field :last_name,required:true,placeholder:"vasya",autocomplete:"off",class:"only_chars"%>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.patronic")%></label>
                                    </li>
                                    <li>
                                        <%=f.text_field :patronic,required:true,placeholder:"vasya",autocomplete:"off",class:"only_chars"%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.email")%></label>
                                    </li>
                                    <li>
                                        <%=f.email_field :email,required:true,placeholder:"someone@example.com",autocomplete:"off"%>
                                    </li>
                                </ul>
                                
                                
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <label for=""><%=t("all.user.phone")%></label>
                                    </li>
                                    <li class="phone">
                                        <%=f.select :phone_code,@codes,:selected=>@current_code,required:true,placeholder:"093779996"%>
                                        <%=f.text_field :phone,required:true,placeholder:"093779996",autocomplete:"off",class:"only_numbers",:"maxlength"=>10%>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <label><%=t("all.user.about")%></label>
                    <%=f.text_area :info,required:true ,:style=>"width: 100%;"%>
                        <div class="pay_btn">
                            <a style="float: right;width: 155px;" target="_blank" href="#"><%=t("all.save")%><span>></span></a>
                        </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <%end%>