!!!
%html.login-bg
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "CB Admin"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "admin", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .row-fluid.login-wrapper
      = image_tag "logo-white.png" , :class=>"logo"
      .span4.box
        = form_tag user_auth_path, :remote=>true, :"data-auto-controller"=>"AdminLoginController"  do 
          .content-wrap
            %h6=t("user.enter")
            = text_field :user,:email , :class=>"span12", :required=>true, :type=>"email"
            = text_field :user,:password , :class=>"span12", :required=>true, :type=>"password"
            = submit_tag t("user.enter_submit"), :class=>"submit btn-glow primary login"

