!!!
%html{lang: "en-US"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Cyprus Booking"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
    = csrf_meta_tags
    /[if IE] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    -#%script{:type => "text/javascript",
        :src  => "https://connect.facebook.net/en_US/all.js"}
  %body{:"data-auto-controller" =>"MapController"}
    #wrapper
      %header{:style=>"z-index:21000"}
        %figure
          %h1
            %a{href: "/"}
              = image_tag "logo.png", :height=>35
        =render "shared/header_right"
      %article{:class=>"#{params[:controller].gsub("/","_")}_body"}
        = yield
        = render "shared/loader"
      = render "shared/footer"  
:javascript
  FBappId = "#{Settings.fb.key}"
  window.default_lang = "#{I18n.locale.to_s}";
  window.logged_in = "#{logged_in?}"